*.o
*.d
*.mod
*.a
*.so
*.tmp
*.i
*.L
*.x
*.log
make.sys
rt-tddft/config.*
rt-tddft/configure
rt-tddft/Makefile
rt-tddft/makedeps.sh
rt-tddft/src/Makefile
rt-tddft/src/make.depend
rt-tddft/*.cache
rt-tddft/*.cache/**
rt-tddft/examples/**
